@import url('https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&display=swap');



    




#title, .title {
    font-family: "Playwrite NL", cursive;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    color: rgb(161, 73, 88);
    font-size: large;
    
    
}
#frontimg{
    aspect-ratio: 18/10;
}

#hero{
    background-image: url("./media/local-food-singapore.webp");
    background-size: 100% 100%;
    width: 100%;
    aspect-ratio: 18/10;
    scale: 1/2;
    
    
    
}
#caption{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* padding: 10px; */
    }

